header {
  padding: 20px 0;
}

.header__top__menus_left {
  width: 100%;
  position: relative;
}
.header__top__menus_left .headerForm {
  width: 55%;
  background: #f2f2f2;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  padding: 6px 9px;
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
}
.header__top__menus_left .headerForm input {
  width: 100%;
  background: transparent;
  flex: 1;
  border: 1px;
  outline: none;
  padding: 0;
  font-size: 20px;
  color: #222222;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header__top__menus_left .headerForm .shadow {
  margin-top: 5px;
  border: 0;
  width: 15px;
  height: 15px;
  background: transparent;
  cursor: pointer;
}
.header__top__menus_left .headerForm .shadow .search {
  width: 15px;
  color: #222222;
}
.header__top__menus_left .search_result_remove {
  display: none;
}
.header__top__menus_left .search_result_ul {
  width: 100%;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  margin-left: 80px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header__top__menus_left .search_result_ul li {
  width: 430px;
  height: 100px;
  display: flex;
  padding: 5px 5px;
  position: relative;
  border: 1px solid #6c757d;
  border-radius: 5px 5px 5px 5px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 12px;
}
.header__top__menus_left .search_result_ul li:first-child {
  margin-top: 12px;
}
.header__top__menus_left .search_result_ul li:hover {
  background-color: #cac7ff;
}
.header__top__menus_left .search_result_ul li img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__top__menus_left .search_result_ul li div {
  width: 100%;
  height: 60px;
  display: block;
  margin-top: 20px;
}
.header__top__menus_left .search_result_ul li div .search_li_span1 {
  display: block;
  padding: 5px 10px;
}
.header__top__menus_left .search_result_ul li div .search_li_span2 {
  display: block;
  padding: 5px 10px;
}

::-moz-placeholder {
  color: #cac7ff;
}

::placeholder {
  color: #222222;
}

.mebel_box {
  width: 100%;
}
.mebel_box .mebel {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.mebel_box .mebel .mobile_menu_button {
  font-size: 20px;
  line-height: 1.56;
  background-color: transparent;
  display: none;
  font-weight: 900;
}
.mebel_box .mebel .mobile_menu_button .mobile_menu_button_icon {
  font-size: 20px;
  font-weight: 600;
  width: 40px;
  height: 30px;
}
.mebel_box .mebel .mobile_menu_button .mobile_menu_button_icon svg {
  width: 40px;
  height: 20px;
  margin-top: 18px;
  font-size: 20px;
  font-weight: 900;
  color: #000;
}

.icon {
  width: 100%;
  display: flex;
}
.icon .icon_name {
  width: 100%;
  position: relative;
}
.icon .icon_name span {
  right: 10px;
  position: absolute;
  justify-content: center;
  margin: 25px 0 0 0;
}
.icon .icons {
  display: flex;
  width: 100%;
  position: relative;
}
.icon .icons .icons_ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 34px;
}
.icon .icons .icons_ul li:not(:first-child) {
  margin-left: 7px;
}
.icon .icons .icons_ul li:first-child {
  display: none;
}
.icon .icons .icons_ul li .headerNav {
  height: 100%;
  display: flex;
}
.icon .icons .icons_ul li .headerNav .headerNavWish_span {
  position: relative;
  right: 0;
  bottom: 10px;
  color: #000;
  margin: 25px 0 0 0;
}
.icon .icons .icons_ul li .headerNav .icon1,
.icon .icons .icons_ul li .headerNav .icon3 {
  margin: 25px 0 0 0;
  width: 22px;
  height: 25px;
}
.icon .icons .icons_ul li .headerNav .icon1:hover,
.icon .icons .icons_ul li .headerNav .icon3:hover {
  color: #6c757d;
}
.icon .icons .icons_ul li .headerNav .icon3 svg {
  width: 100%;
  height: 100%;
}
.icon .icons .icons_ul li .icon2 {
  width: 22px;
  height: 24px;
  cursor: pointer;
}
.icon .icons .icons_ul li .icon4_li {
  display: none;
}
.icon .icons .icons_ul li .icon4_li .icon4 {
  display: none;
}
.icon .icons .icons_ul li .icon4_li .icon5 {
  display: none;
}

.header_bottom_div .header_li {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.header_bottom_div .header_li li {
  width: 100%;
  height: 48.02px;
  font-size: 14px;
  color: #222222;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header_li_menu1::after, .header_li_menu2::after, .header_li_menu4::after, .header_li_menu5::after {
  content: "";
  width: 1px;
  height: 47.02px;
  background-color: #000;
  margin-left: 40px;
  opacity: 0.1;
}

.header_bottom_div ul li:not(:last-child) {
  margin-right: 0;
}

.header_bottom_div img {
  width: 25px;
  display: inline-block;
  line-height: inherit;
  margin-right: 3px;
}

.ant-select {
  border: none;
}
.ant-select .ant-select-selector {
  border: none !important;
}
.ant-select .ant-select-selector .ant-select-selection-item {
  font-size: 14px;
  color: #222222;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.ant-menu .ant-menu-submenu .ant-menu-submenu-title {
  display: flex;
}
.ant-menu .ant-menu-submenu .ant-menu-submenu-title svg {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.ant-menu .ant-menu-submenu .ant-menu-submenu-title span {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: inline-flex;
}
.ant-menu .ant-menu-submenu .ant-menu-submenu-title .ant-menu-submenu-arrow {
  color: #000;
}

/*MOBILE MENU*/
.mobile_menu_box {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  display: none;
}
.mobile_menu_box .mobile_menu {
  background-color: #fff;
  width: 280px;
  height: 100%;
  padding: 20px 10px;
  overflow-y: scroll;
  position: relative;
}
.mobile_menu_box .mobile_menu .close_mobile_btn {
  background-color: transparent;
  top: 10px;
  right: 15px;
  position: absolute;
  font-size: 20px;
}
.mobile_menu_box .mobile_menu .mobile_ul {
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 50px;
}
.mobile_menu_box .mobile_menu .mobile_ul li {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
  list-style-type: none;
  margin-left: 25px;
}
.mobile_menu_box .mobile_menu .mobile_ul li:nth-child(3n) {
  margin-left: 0;
  margin-bottom: 0;
}
.mobile_menu_box .mobile_menu .mobile_ul li .ant-menu .ant-menu-submenu {
  margin-left: 0;
  margin-bottom: 20px;
}
.mobile_menu_box .mobile_menu .mobile_ul li .ant-menu .ant-menu-submenu .ant-menu-sub .ant-menu-item {
  margin-left: 0;
  margin-bottom: 0;
}
.mobile_menu_box .mobile_menu .mobile_ul li .ant-menu .ant-menu-submenu .ant-menu-sub .ant-menu-item-selected {
  color: white;
  background-color: white;
}
.mobile_menu_box .mobile_menu .mobile_ul li .ant-menu .ant-menu-submenu .ant-menu-sub .ant-menu-item-selected::after {
  transform: none;
  opacity: 0;
  transition: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.mobile_menu_box .mobile_menu .mobile_ul li .ant-menu .ant-menu-submenu .ant-menu-submenu-title .ant-menu-title-content {
  justify-content: left;
  align-items: start;
}
.mobile_menu_box .mobile_menu .mobile_ul li .ant-menu .ant-menu-submenu .ant-menu-submenu-title .ant-menu-title-content span {
  justify-content: left;
  align-items: start;
  padding: 0;
  margin: 0;
}
.mobile_menu_box .mobile_menu .mobile_ul li .ant-menu .ant-menu-submenu .ant-menu-submenu-title:active {
  background: white;
}
.mobile_menu_box .mobile_menu .mobile_ul li .mobile_icon {
  margin-right: 5px;
}
.mobile_menu_box .mobile_menu .mobile_ul li .mobile_icon svg {
  width: 25px;
  height: 25px;
}
.mobile_menu_box .mobile_menu .mobile_ul li .mobile_btn {
  display: flex;
}
.mobile_menu_box .mobile_menu .mobile_ul li .mobile_btn .mobile_btn_az {
  padding: 3px 8px;
  background-color: transparent;
  text-transform: uppercase;
}
.mobile_menu_box .mobile_menu .mobile_ul li .mobile_btn .mobile_btn_en {
  padding: 3px 8px;
  background-color: transparent;
  text-transform: uppercase;
}

.mobile_menu_box.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.mobile_menu_box.show {
  display: block;
}

.mobile_search_div.search_show {
  display: block;
}

.mobile_search_div {
  display: none;
  width: 200px;
  height: 40px;
  position: absolute;
  top: 120px;
  right: 150px;
  z-index: 10000;
  background-color: #cac7ff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.mobile_search_div .headerForm {
  height: 100%;
  background-color: #cac7ff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.mobile_search_div .headerForm input {
  height: 100%;
  background-color: #cac7ff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.mobile_search_div .headerForm .shadow {
  background-color: transparent;
}

.search_result_remove {
  display: none;
}

.search_result_ul {
  width: 100%;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #cac7ff;
}
.search_result_ul .search_nav {
  color: #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.search_result_ul .search_nav li {
  width: 100%;
  height: 70px;
  display: flex;
  position: relative;
  margin-bottom: 12px;
  list-style-type: none;
  margin: 0 3px;
}
.search_result_ul .search_nav li:first-child {
  margin-top: 12px;
}
.search_result_ul .search_nav li img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search_result_ul .search_nav li div {
  width: 100%;
  height: 70px;
  display: block;
}
.search_result_ul .search_nav li div .search_li_span1 {
  display: block;
  top: 0;
}
.search_result_ul .search_nav li div .search_li_span2 {
  display: block;
}/*# sourceMappingURL=header.css.map */